*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
canvas{
    background-color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}
.score--value{
  font-weight: 700;
  font-size: 4.5rem;
  display: block;
  margin-top: -10px; 
}

.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score{
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play{
    border: none;
    border-radius: 100px;
    padding:10px 15px 10px 12px ;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;


}
.btn-play:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    transition: 0.2s;
}

.menu-screen{
    transition: opacity 0.3s ease;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}